.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

#portfolio > h2 {
    margin: 0 171px 2rem 171px;
    text-align: center;
    color: var(--color-h2);
    font-size: 3rem;
}

#portfolio > h5 {
    margin: 0 171px 0 171px;
    text-align: center;
    color: var(--color-h5);
    font-size: 1rem;
    margin-bottom: -10px;
}

.portfolio__item {
    background: var(--color-bg-card);
    padding: 1.5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.329),
                -3px -1px 10px rgb(255, 255, 255);
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    width: 265.34px;
    height: 199px;
}

.portfolio__item h3 {
    text-align: center;
    margin-top: 0.7rem;
    color: var(--color-text-button);
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.portfolio__item-cta .btn {
    background-color: var(--color-primary);
    color: var(--color-bg);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.301),
                -3px -3px 8px var(--color-bg-card);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

 /* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
 @media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    #portfolio > h5 {
        margin: 0;
        text-align: center;
    }
    
    #portfolio > h2 {
        margin: 0 0 2rem 0;
        text-align: center;
        font-size: 2rem;
    }

    .portfolio__item-image {
        margin-left: auto;
        margin-right: auto;
    }
}