.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#experience > h5 {
    margin-left: 171px;
    margin-right: 171px;
    text-align: left;
    color: var(--color-h5);
    font-size: 1rem;
    margin-bottom: -10px;
}

#experience > h2 {
    margin-left: 171px;
    margin-right: 171px;
    text-align: left;
    color: var(--color-h2);
    font-size: 3rem;
}

.experience__container > div {
    background-color: var(--color-bg-card);
    color: var(--color-bg);
    padding: 2rem 4rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-bg);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 0.5rem;
}

.experience__details-icon {
    margin-top: 2px;
    color: var(--color-text-bright);
}

article > div {
    line-height: 20px;
}

small {
    color: var(--color-light);
}

/*
/* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }

    #experience > h5 {
        text-align: center;
    }
    
    #experience > h2 {
        text-align: center;
    }
   
 }

 /* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
 @media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
        align-items: center;
    }

    #experience > h5 {
        margin: 0;
        text-align: center;
    }
    
    #experience > h2 {
        margin: 0 0 2rem 0;
        text-align: center;
        font-size: 2rem;
    }

 }